.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 50px;
  float: left;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 5px;
  color: white;
}

.App-header h2 {
  text-align: left;
  font-size: 20px;
}

.App-intro {
  font-size: large;
}

.pulse {
  animation-name: pulse_animation;
  animation-duration: 5000ms;
  transform-origin:70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes pulse_animation {
  0% { transform: scale(1); }
  20% { transform: scale(0.9); }
  40% { transform: scale(0.8); }
  50% { transform: scale(0.75); }
  60% { transform: scale(0.8); }
  80% { transform: scale(0.9); }
  100% { transform: scale(1); }
}